(promomega_app) {
	encode zstd gzip
	reverse_proxy bot:3000

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
}

:80 {
	import promomega_app
}

promomega.com.br, www.promomega.com.br {
	import promomega_app
}

evolution.promomega.com.br {
	encode zstd gzip
	reverse_proxy evolution:8080

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
}
